body {
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.main-container{
  display: flex;
  flex-direction: column;
}
.body-container{
  margin: 0px;
  display: flex;
}
.card img{
   display: flex;
   height: 35%;
}