.header-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #2874f0;
    padding: 20px;
}

.logo {
    font-weight: bolder;
    font-size: 20px;
}

.search-bar {
    width: 25%;
    padding: 7px;
}

.login {
    width: 7%;
    color: blue;
    background-color: #f0f0f0;
    padding: 5px;
    border: none;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bolder;
    font-size: 15px; 
}